AppStore/ejbModule/META-INF/wsdl/StoreManagerEJBTopDownSeviceEnpoint.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name='StoreManagerEJBTopDown' targetNamespace='http://www.packtpub.com/' xmlns:WL5G3N1="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N0="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:ns1='http://www.ivankoi.com' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://www.packtpub.com/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
 <wsp:UsingPolicy WL5G3N1:Required="true"/>
  <wsp:Policy WL5G3N0:Id="digestUsernameToken2004.xml">
    <sp:Strict wsp:Optional="true" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"/>
    <wssp:Identity xmlns:wssp="http://www.bea.com/wls90/security/policy">
      <wssp:SupportedTokens>
        <wssp:SecurityToken TokenType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#UsernameToken">
          <wssp:Claims>
            <wssp:UsePassword Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordDigest"/>
          </wssp:Claims>
        </wssp:SecurityToken>
      </wssp:SupportedTokens>
    </wssp:Identity>
  </wsp:Policy>
 <types>
  <xs:schema targetNamespace='http://www.ivankoi.com' version='1.0' xmlns:tns='http://www.ivankoi.com' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='createCustomer' nillable='true' type='tns:createCustomer'/>
   <xs:element name='createCustomerResponse' nillable='true' type='tns:createCustomerResponse'/>
   <xs:element name='findAllCustomers' nillable='true' type='tns:findAllCustomers'/>
   <xs:element name='findAllCustomersResponse' nillable='true' type='tns:findAllCustomersResponse'/>
   <xs:element name='findAllItems' nillable='true' type='tns:findAllItems'/>
   <xs:element name='findAllItemsResponse' nillable='true' type='tns:findAllItemsResponse'/>
   <xs:element name='findCustomerById' nillable='true' type='tns:findCustomerById'/>
   <xs:element name='findCustomerByIdResponse' nillable='true' type='tns:findCustomerByIdResponse'/>
   <xs:element name='findCustomerByName' nillable='true' type='tns:findCustomerByName'/>
   <xs:element name='findCustomerByNameResponse' nillable='true' type='tns:findCustomerByNameResponse'/>
   <xs:element name='saveOrder' nillable='true' type='tns:saveOrder'/>
   <xs:element name='saveOrderResponse' nillable='true' type='tns:saveOrderResponse'/>
   <xs:complexType name='createCustomer'>
    <xs:sequence>
     <xs:element minOccurs='0' name='customerCountry' type='xs:string'/>
     <xs:element minOccurs='0' name='customerName' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='createCustomerResponse'>
    <xs:sequence/>
   </xs:complexType>
   <xs:complexType name='saveOrder'>
    <xs:sequence>
     <xs:element name='customerId' type='xs:int'/>
     <xs:element name='price' type='xs:int'/>
     <xs:element name='quantity' type='xs:int'/>
     <xs:element minOccurs='0' name='product' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='saveOrderResponse'>
    <xs:sequence/>
   </xs:complexType>
   <xs:complexType name='findCustomerById'>
    <xs:sequence>
     <xs:element name='customerId' type='xs:int'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='findCustomerByIdResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='customer' type='tns:customer'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='customer'>
    <xs:sequence>
     <xs:element name='id' type='xs:int'/>
     <xs:element minOccurs='0' name='country' type='xs:string'/>
     <xs:element minOccurs='0' name='name' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='items' nillable='true' type='tns:item'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='item'>
    <xs:sequence>
     <xs:element name='id' type='xs:int'/>
     <xs:element name='price' type='xs:int'/>
     <xs:element minOccurs='0' name='product' type='xs:string'/>
     <xs:element name='quantity' type='xs:int'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='findAllItems'>
    <xs:sequence>
     <xs:element name='customerId' type='xs:int'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='findAllItemsResponse'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='itemList' nillable='true' type='tns:item'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='findCustomerByName'>
    <xs:sequence>
     <xs:element minOccurs='0' name='customerName' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='findCustomerByNameResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='customer' type='tns:customer'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='findAllCustomers'>
    <xs:sequence/>
   </xs:complexType>
   <xs:complexType name='findAllCustomersResponse'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='customerList' nillable='true' type='tns:customer'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='StoreManagerEJBTopDownSeviceEnpoint_findCustomerByIdResponse'>
  <part element='ns1:findCustomerByIdResponse' name='findCustomerByIdResponse'></part>
 </message>
 <message name='StoreManagerEJBTopDownSeviceEnpoint_findAllItemsResponse'>
  <part element='ns1:findAllItemsResponse' name='findAllItemsResponse'></part>
 </message>
 <message name='StoreManagerEJBTopDownSeviceEnpoint_findCustomerByNameResponse'>
  <part element='ns1:findCustomerByNameResponse' name='findCustomerByNameResponse'></part>
 </message>
 <message name='StoreManagerEJBTopDownSeviceEnpoint_findAllCustomers'>
  <part element='ns1:findAllCustomers' name='findAllCustomers'></part>
 </message>
 <message name='StoreManagerEJBTopDownSeviceEnpoint_findAllItems'>
  <part element='ns1:findAllItems' name='findAllItems'></part>
 </message>
 <message name='StoreManagerEJBTopDownSeviceEnpoint_findAllCustomersResponse'>
  <part element='ns1:findAllCustomersResponse' name='findAllCustomersResponse'></part>
 </message>
 <message name='StoreManagerEJBTopDownSeviceEnpoint_saveOrder'>
  <part element='ns1:saveOrder' name='saveOrder'></part>
 </message>
 <message name='StoreManagerEJBTopDownSeviceEnpoint_saveOrderResponse'>
  <part element='ns1:saveOrderResponse' name='saveOrderResponse'></part>
 </message>
 <message name='StoreManagerEJBTopDownSeviceEnpoint_findCustomerById'>
  <part element='ns1:findCustomerById' name='findCustomerById'></part>
 </message>
 <message name='StoreManagerEJBTopDownSeviceEnpoint_createCustomerResponse'>
  <part element='ns1:createCustomerResponse' name='createCustomerResponse'></part>
 </message>
 <message name='StoreManagerEJBTopDownSeviceEnpoint_createCustomer'>
  <part element='ns1:createCustomer' name='createCustomer'></part>
 </message>
 <message name='StoreManagerEJBTopDownSeviceEnpoint_findCustomerByName'>
  <part element='ns1:findCustomerByName' name='findCustomerByName'></part>
 </message>
 <portType name='StoreManagerEJBTopDownSeviceEnpoint'>
  <operation name='createCustomer' parameterOrder='createCustomer'>
   <input message='tns:StoreManagerEJBTopDownSeviceEnpoint_createCustomer'></input>
   <output message='tns:StoreManagerEJBTopDownSeviceEnpoint_createCustomerResponse'></output>
  </operation>
  <operation name='findAllCustomers' parameterOrder='findAllCustomers'>
   <input message='tns:StoreManagerEJBTopDownSeviceEnpoint_findAllCustomers'></input>
   <output message='tns:StoreManagerEJBTopDownSeviceEnpoint_findAllCustomersResponse'></output>
  </operation>
  <operation name='findAllItems' parameterOrder='findAllItems'>
   <input message='tns:StoreManagerEJBTopDownSeviceEnpoint_findAllItems'></input>
   <output message='tns:StoreManagerEJBTopDownSeviceEnpoint_findAllItemsResponse'></output>
  </operation>
  <operation name='findCustomerById' parameterOrder='findCustomerById'>
   <input message='tns:StoreManagerEJBTopDownSeviceEnpoint_findCustomerById'></input>
   <output message='tns:StoreManagerEJBTopDownSeviceEnpoint_findCustomerByIdResponse'></output>
  </operation>
  <operation name='findCustomerByName' parameterOrder='findCustomerByName'>
   <input message='tns:StoreManagerEJBTopDownSeviceEnpoint_findCustomerByName'></input>
   <output message='tns:StoreManagerEJBTopDownSeviceEnpoint_findCustomerByNameResponse'></output>
  </operation>
  <operation name='saveOrder' parameterOrder='saveOrder'>
   <input message='tns:StoreManagerEJBTopDownSeviceEnpoint_saveOrder'></input>
   <output message='tns:StoreManagerEJBTopDownSeviceEnpoint_saveOrderResponse'></output>
  </operation>
 </portType>
 <binding name='StoreManagerEJBTopDownSeviceEnpointBinding' type='tns:StoreManagerEJBTopDownSeviceEnpoint'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='createCustomer'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='findAllCustomers'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='findAllItems'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='findCustomerById'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='findCustomerByName'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='saveOrder'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='StoreManagerEJBTopDown'>
  <port binding='tns:StoreManagerEJBTopDownSeviceEnpointBinding' name='StoreManagerEJBTopDownSeviceEnpointPort'>
   <soap:address location='http://alterivankoi-pc:8080/AppStore/StoreManagerEJBTopDown/StoreManagerEJBTopDownSeviceEnpoint'/>
  </port>
 </service>
</definitions>