as7.ws/src/main/webapp/WEB-INF/wsdl/CalculatorPojoWsDocSecured.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="Calculator_pojo_ws_doc_secured"
	targetNamespace="http://www.ivankoi.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ivankoi.com/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
	<wsp:UsingPolicy wsdl:Required="true" />
	<wsp:Policy wsdl:Id="digestUsernameToken2004.xml">
		<sp:Strict wsp:Optional="true"
			xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" />
		<wssp:Identity xmlns:wssp="http://www.bea.com/wls90/security/policy">
			<wssp:SupportedTokens>
				<wssp:SecurityToken
					TokenType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#UsernameToken">
					<wssp:Claims>
						<wssp:UsePassword
							Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordDigest" />
					</wssp:Claims>
				</wssp:SecurityToken>
			</wssp:SupportedTokens>
		</wssp:Identity>
	</wsp:Policy>
	<wsdl:types>
		<xs:schema elementFormDefault="unqualified" targetNamespace="http://www.ivankoi.com/"
			version="1.0" xmlns:tns="http://www.ivankoi.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="calculatePower" type="tns:calculatePower" />
			<xs:element name="calculatePowerResponse" type="tns:calculatePowerResponse" />
			<xs:complexType name="calculatePower">
				<xs:sequence>
					<xs:element name="base" type="xs:double" />
					<xs:element name="exponent" type="xs:double" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="calculatePowerResponse">
				<xs:sequence>
					<xs:element name="result" type="xs:double" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="calculatePowerResponse">
		<wsdl:part element="tns:calculatePowerResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="calculatePower">
		<wsdl:part element="tns:calculatePower" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CalculatorPojoWsDocSecured">
		<wsdl:operation name="calculatePower">
			<wsdl:input message="tns:calculatePower" name="calculatePower">
			</wsdl:input>
			<wsdl:output message="tns:calculatePowerResponse" name="calculatePowerResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Calculator_pojo_ws_doc_securedSoapBinding"
		type="tns:CalculatorPojoWsDocSecured">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="calculatePower">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="calculatePower">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="calculatePowerResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Calculator_pojo_ws_doc_secured">
		<wsdl:port binding="tns:Calculator_pojo_ws_doc_securedSoapBinding"
			name="CalculatorPojoWsDocSecuredPort">
			<soap:address
				location="http://localhost:8080/as7.ws/CalculatorPojoWsDocSecured" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>